body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
html{font-family:"Microsoft Yahei",Arial,sans-serif;font-size:14px;line-height:1.6;}
img{border:none;}table{border-collapse:collapse;}ul{list-style-type:none;}
a{background-color:transparent;text-decoration:none;color:inherit;}input{box-sizing:border-box;}
[type='text'],[type='password'],[type='email'],select{border:1px solid #818181;width:200px;}
input:focus,select:focus{outline:none;}a:focus,a:active{outline:none;}
.clearfloat:after{content:'\0020';display:block;height:0;clear:both;}.clearfloat{*zoom:1;}
.btn,button,[type='submit']{display:inline-block;border:1px solid #000;background:none;font-family:inherit;color:inherit;}
button:focus{outline:none;}button:hover{cursor:pointer;}
.hide{display:none !important;}